<p id="notice"><%= notice %></p>

<h1>Roadmap</h1>

<table class="table" >
  <thead>
  <tr>
    <th width="100"></th>
    <% @i = 0 %>
    <% (@wbs.first.start..(@wbs.last.end)).each do |some_date| %>
        <% if @i == 0 %>
            <th class="grauerKasten" width="100"><%= some_date %></th>
            <% @i = 1 %>
        <% else %>
            <th width="100"><%= some_date %></th>
            <% @i = 0 %>
        <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @wbs.each do |wb| %>
      <tr>
        <td><%= wb.name %></td>
        <% (@wbs.first.start..(@wbs.last.end)).each do |all_dates| %>
            <% (wb.start..(wb.end)).each do |my_date| %>
                <% if all_dates == my_date %>
                    <td class="gruenerKasten" ></td>
                <% else %>
                    <td> no </td>
                <% end %>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
