<p id="notice"><%= notice %></p>
<h1>Details</h1>
<p>
  <strong>Name:</strong>
  <%= @pb.name %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @pb.beschreibung %>
</p>

<%= button_to 'Bearbeiten', edit_pb_path(@pb), class:"btn btn-warning", method: :get %>
<br>
<FORM><INPUT Type="button" VALUE="Zurück" onClick="history.go(-1);return true;" class="btn btn-primary"></FORM>
