/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

.gruenerKasten {
    background-color: lightgreen;
}
.blauerKasten {
    background-color: lightblue;
}
.gelberKasten {
    background-color: #f9ff6e;
}
.roterKasten {
    background-color: lightcoral;
}
.grauerKasten {
    background-color: #e0e0e0;
}
a:hover {
    background-color: transparent;
}
.alertjava {
    color: red;
}
.box_rotate {
    -moz-transform: rotate(4.5deg);  /* FF3.5+ */
    -o-transform: rotate(4.5deg);  /* Opera 10.5 */
    -webkit-transform: rotate(4.5deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}
.box_rotate_grey {
    -moz-transform: rotate(4.5deg);  /* FF3.5+ */
    -o-transform: rotate(4.5deg);  /* Opera 10.5 */
    -webkit-transform: rotate(4.5deg);  /* Saf3.1+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
    background-color: #e0e0e0;
}
